html { 
    background: url('Images/salt-lake-city-skyline-brian-jannsen.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
#container {
    display: flex;
    flex-direction: row;
    max-width: fit-content;
    align-content: center;
    align-items: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
#buttonContainer{
    display: flex;
    flex-direction: column;
}
.box{
    font-size: 25px;
    border: 1px solid #282d4d;
    border-radius: 10px;
    box-shadow: 10px 5px 50px;
    margin: 18px ;
    padding: 10px;
    max-width: 500px;
    min-width: 100px;
    min-height: 100px;
    

}
.notBox{
    font-size: 20px;
    margin: 5px ;
    padding: 5px;
    max-width: 500px;
    min-width: 100px;
    min-height: 100px;
}
.button{
    box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#fdfbfb;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
    text-shadow:0px 1px 0px #283966;
    margin: 10px;
}
.button:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
#today{ 
    background-size: 100%;

}
body{
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    height: 100vh;
}